.bottom {
    position: absolute;
    bottom: 8px;
    font-size: 12px;
    color: antiquewhite;
    opacity: .4;
}

.navbar {
    padding-top: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0px;
    font-size: 14px;
    letter-spacing: 5px;
    background-color: #ffffff;
}

.navbar-nav li a:hover {
    color: #72C6CE !important;
}

.container-nav {
    margin-left: 10px;
    margin-right: 10px;
}

.bg-1 {
    color: black;
}

.bg-2 {
    color: black;
}

.bg-3 {
    background-color: color:#f5f6f7;
    /* White */
    color: black;
}

.container-fluid {
    padding-top: 10px;
    padding-bottom: 50px;
    margin-top: 20px;
    font-size: 20px;
    text-align: left;
}

body {
    font: 20px "Montserrat", sans-serif;
    line-height: 1.8;
    color: black;
}

p {
    font-size: 18px;
}

.container-contact {
    margin-left: 25px;
}

.bg-4 {
    color: black;
}

.margin {
    margin-bottom: 45px;
}

.border {
    border: 4px solid;
    border-color: slateblue;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 70px;
    margin-left: 70px;
    background-image: url(../Images/abiqui_long_copy.jpg);
}

.row-bottom {
    border-spacing: 100px;
}

head {
    background-color: #ffffff;
}


h1 {
    text-align: center;
}

.carousel-inner img {

    width: 100%;
    height: 100%;
    margin: auto;
}

/*need to find good color to show up on this, maybe put a small background */
.carousel-caption h3 {
    color: #474e5d !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none;
        /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

#myCarousel {
    background-color: #ffffff;
    width: 100%;
}


.row {
    text-align: center;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 70%;
    height: 70%;
    margin-bottom: 10px;
    margin-top: 10px;
    border: none;
}

.container-fluid-pf {
    /*add padding */
    width: 100%;
    color: rgb(8, 8, 8);
    font: 16px "Montserrat", sans-serif;
}

.margin {
    margin-bottom: 45px;
}

.container-fluid-text {
    font: 20px "Montserrat", sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}

.imgArch {
    opacity: 0.5;
}



.container-fluid-arch {
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
    font-size: 18px;
    margin-right: 50px;
}

.container-fluid-img {
    padding-left: 80px;
    padding-right: 80px;
    position: relative;
    font-size: 18px;
    text-align: justify;

}

.container-fluid-gis {
    font-size: 18px;
    color: black;

}

.border-cv {
    border: 7px solid;
    border-radius: 10px;
    margin-right: 100px;
    margin-left: 100px;
    background-color: rgba(240, 248, 255, 0.668);
}

.container-fluid-cv {
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    font-size: 16px;
}


.background {
    background-image: url("../Images/image924.png");
    margin-top: 0px;
    margin-bottom: 0px;
}



.top-center {
    position: absolute;
    top: 8px;
    left: 500px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 18px;
}

h3 {
    text-align: center;
}

.container-contact {
    text-align: center;
    margin-bottom: 100px;
}

.container-fluid-webApp {
    margin-left: 100 px;
    margin-right: 100px;
    text-align:left;
    font-size: 18px;
}