html, body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
#displayed-list {
display: none;
}
#map {
  height: 600px;
  width: 1400px;
  max-width: 100%;
  max-height: 100%;
}
.leaflet-bottom.leaflet-left {
  width: 100%;
}
.leaflet-control-container .leaflet-timeline-controls {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  margin-bottom: 15px;
  }
  
  #dd
  {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0px;
  }

  #dt
  {
    font-family: Arial, Helvetica, sans-serif;
    
  }